.vbox {
    -fx-background-image: url("../images/mainmenubg.jpg");
    -fx-background-size: cover;
}

.title {
    -fx-font-family: "Georgia";
    -fx-font-size: 180px;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 2);
}

.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-border-color: #888;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #555;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #222;
    -fx-border-color: #444;
}

.normal-bar {
    -fx-accent: red;
    -fx-control-inner-background: white;
    -fx-background-color: white;
}

.shielded-bar {
    -fx-accent: grey;
    -fx-control-inner-background: white;
    -fx-background-color: white;
}
